<aside id="sidebar">
    <table id="menutable" style="border-collapse: collapse; table-layout: auto; width: 100%;">
        {{ range site.Params.sidebar_menu }}
        <tr class="menu-item" onclick="toggleMenu(this)">
            <td style="text-align: center; white-space: nowrap;">
                <img src="{{ .icon | absURL }}" alt="{{ .name }}">
            </td>
            <td id="menutable-name" style="font-weight: bold;">
                {{ .name }}
            </td>
        </tr>
        <tr class="menu-content" style="display: none;">
            <td colspan="2" style="padding-left: 20px; font-weight: bold; padding-top: 4px;">
                {{ .content | safeHTML }}
            </td>
        </tr>
        {{ end }}
    </table>
</aside>


