baseURL = 'https://gregueria.icu/'
title = '再會，謝謝所有的魚'
theme = 'newspaper'
languageCode = "zh-cn"
hasCJKLanguage = true

[module]
[module.hugoVersion]
extended = true
min      = "0.41.0"

[markup]
[markup.goldmark]
[markup.goldmark.parser]
[markup.goldmark.parser.attribute]
block = true
title = true

[markup.goldmark.renderer]
unsafe = true

[markup.highlight]
anchorLineNos      = false
codeFences         = true
guessSyntax        = false
hl_Lines           = ''
hl_inline          = false
lineAnchors        = ''
lineNoStart        = 1
lineNos            = false
lineNumbersInTable = true
noClasses          = true
noHl               = false
style              = 'rrt'
tabWidth           = 4

[markup.tableOfContents]
startLevel = 2
endLevel   = 3
ordered    = false

[params]
[params.theme_config]
appearance        = "auto"
back_home_text    = "Back"
date_format       = "2006-01-02"
#  "02 Jan 2006"
isListGroupByDate = true
isShowFooter      = true
[params.meowBox]
enabled = true
images = [
    "https://pub-219f59729cc7474d97beb0f99a13e6bd.r2.dev/picture/2024/12/e5b786e27835fd295754ce15d32f9654.jpg",
    "https://pub-219f59729cc7474d97beb0f99a13e6bd.r2.dev/2025/008oVlcxgy1hz9pc597lbj32c0340b29.jpg",
    "https://img.gregueria.icu/2025/008oVlcxgy1htrm5kk1vyj32c0340npd.jpg",
    "https://pub-219f59729cc7474d97beb0f99a13e6bd.r2.dev/2025/008oVlcxgy1hzarjm6thtj32c03401kz.jpg"
]

[[menu.main]]
name = "Home"
url = "/"
weight = 1

[[menu.main]]
name = "Archive"
url = "/posts"
weight = 2

[[menu.main]]
name = "Friends"
url = "/links"
weight = 3

[[menu.main]]
name = "Museum"
url = "/collection"
weight = 4

# [[menu.main]]
# name = "RSS"
# url = "/index.xml"
# weight = 4

[outputs]
home = ["HTML"]

