baseURL = 'https://gregueria.icu/'
languageCode = 'zh-cn'
title = '再會，謝謝所有的魚'
theme = 'newspaper'
defaultContentLanguage = "zh"

[module]
[module.hugoVersion]
extended = true
min      = "0.41.0"

[markup]
[markup.goldmark]
[markup.goldmark.parser]
[markup.goldmark.parser.attribute]
block = true
title = true

[markup.goldmark.renderer]
unsafe = true  # 确保只在此位置设置

[markup.highlight]
anchorLineNos      = false
codeFences         = true
guessSyntax        = false
hl_Lines           = ''
hl_inline          = false
lineAnchors        = ''
lineNoStart        = 1
lineNos            = false
lineNumbersInTable = true
noClasses          = true
noHl               = false
style              = 'rrt'
tabWidth           = 4

[markup.tableOfContents]
startLevel = 2
endLevel   = 3
ordered    = false

[params]
[params.theme_config]
appearance        = "light"
back_home_text    = "Back"
date_format       = "2006-01-02"
isListGroupByDate = true
isShowFooter      = true


[[menu.main]]
name = "Home"
url = "/"
weight = 1

[[menu.main]]
name = "Archive"
url = "/posts"
weight = 2

[[menu.main]]
name = "Friends"
url = "/links"
weight = 3

[[menu.main]]
name = "RSS"
url = "/index.xml"
weight = 4