{{- $images := .Get 0 }}
{{- if $images }}
{{- $imagesArray := split $images " " }} <!-- 使用空格分隔传入的链接 -->
<div id="meow-box" style="border-radius: 10px;">
    <img id="meow-image" src="{{ index $imagesArray 0 }}" alt="Meow" style="width: 100%; aspect-ratio: 1/1; object-fit: cover;">
    <button onclick="toggleMeowImage()" id="meow-btn">
        <img src="/cat/cat75.gif" style="border-radius: 0; margin: 0; max-width: 50%;">
        meow
    </button>
</div>

<script>
    // 你不需要加载外部的 script.js 文件，只需使用这个内联脚本
    let images = [
        {{- range $index, $img := $imagesArray }}
    "{{ $img }}",
        {{- end }}
    ];
    let currentIndex = 0;

    // 预加载图片
    function preloadImages() {
        images.forEach(image => {
            const img = new Image(); // 创建一个新的 Image 对象
            img.src = image; // 将图片源设置为路径，这会自动开始加载图片
        });
    }

    function toggleMeowImage() {
        currentIndex = (currentIndex + 1) % images.length; // 切换图片索引
        console.log("Current Index:", currentIndex); // 调试输出当前索引
        document.getElementById("meow-image").src = images[currentIndex]; // 更新图片
    }

    // 页面加载时预加载图片
    preloadImages();
</script>
{{- else }}
<p>No images available.</p>
{{- end }}
