{{ define "main" }}
{{ $aboutNav := resources.Get "css/_about-nav.scss" | toCSS }}
<link rel="stylesheet" href="{{ $aboutNav.RelPermalink }}">

<header>
    <div class="header-container">
        <div class="header-inner">
            <div class="header-left">
                <img src="/cat/tumblrcat.png" alt="Icon" class="header-img">
                {{ partial "nav_index" . }}
            </div>
            <div class="header-content">
                <h2>{{ .Title }}</h2>
                {{ if .Params.toc | default true }}
                <style>
                    #toc-hr {
                        display: none;
                    }
                    .post-toc-mobile {
                        display: none;
                    }
                </style>
                {{ partial "toc.html" . }}
                {{ end }}
                <article>
                    <div id="post-content" data-pagefind-body>
                {{ .Content }}
                </div>
                </article>
                <br>
                <p class="last-edit-time" style="text-align: right; color: var(--secondary-text-color);">

                    {{ if .Params.tags }}
                    {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">＃{{ . }}</a>
                    {{ end }}
                    {{ end }}


                    {{ with .Params.last_edit }}
                    last edited:
                    {{ . }}
                    {{ end }}
                </p>
                <nav class="custom-paginav">
                    {{ with .PrevInSection }}
                    <a class="custom-paginav-prev" href="{{ .RelPermalink }}">
                        <span class="custom-paginav-title">« Prev</span><br>
                        <span>{{ .Title }}</span>
                    </a>
                    {{ end }}
                    {{ with .NextInSection }}
                    <a class="custom-paginav-next" href="{{ .RelPermalink }}">
                        <span class="custom-paginav-title">Next »</span><br>
                        <span>{{ .Title }}</span>
                    </a>
                    {{ end }}
                </nav>
                <br>
                {{ if .Params.comment | default true }}
                <script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
                <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
<!--                <img src="/site/ghostszombies.gif" class="divider" style="display: block; margin-left: auto; margin-right: auto;" data-pagefind-ignore />-->
                <div id="comments" class="comments" data-pagefind-ignore>
                    {{ partial "comment.html" . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</header>


<hr class="decoration-hr">
{{ partial "footer.html" . }}
{{ end }}
