{{ define "main" }}
{{ $archiveStyle := resources.Get "css/_archive-list-nav.scss" | toCSS }}
<link rel="stylesheet" href="{{ $archiveStyle.RelPermalink }}">

<!--移动端Nav-->
<div class="header-container" id="mobile-nav">
    <div class="header-inner">
        <div class="header-left">
            <img src="/cat/tumblrcat.png" alt="Icon" class="header-img">
            {{ partial "nav_index" . }}
        </div>
    </div>
</div>


<h1 id="list-title-h1">{{ .Title }}</h1>
<body>
<div class="main-container">
    <div id="page_posts" class="window active page_posts" style="">
        <div class="window-content">
            {{ partial "archives" . }}
        </div>
    </div>
    <div class="note menu-float" style="flex: 0 0 45%;">
        <div class="header-container" id="pc-nav">
            <div class="header-inner">
                <div class="header-left">
                    <img src="/cat/tumblrcat.png" alt="Icon" class="header-img">
                    {{ partial "nav_index" . }}
                </div>
            </div>
        </div>
        <div class="note__item">
            <div id="copyright" class="note__list"
            >
                {{ with site.GetPage "copyright" }}
                <h3 style="margin-top: 0.5em;">{{ .Title }}</h3>
                {{ .Content | safeHTML }}
                {{ else }}
                <p>404 Not Found</p>
                {{ end }}
            </div>
        </div>
        <div id="small-nav">
            {{ range .Site.Params.tool }}
            <div class="small-nav-item"><a href="{{ .link }}" target="{{ .target }}" >{{ .name }}</a></div>
            {{ end }}
        </div>
        {{ partial "mumble.html" . }}
    </div>
</div>
</body>
{{- partial "footer.html" . -}}
{{ end }}

