<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        <main class="page-content" aria-label="Content">
            <div class="w">
                {{- block "main" . }}{{- end }}
            </div>
        </main>
    {{ partial "footer.html" }}
    {{ $twemojiJS := resources.Get "js/twemoji.min.js" }}
    <script src="{{ $twemojiJS.RelPermalink }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            twemoji.parse(document.body, {
                base: '{{ "/my-emojis/" | relURL }}', // <-- 指向您自定义的本地 emoji 目录
                folder: 'svg', // 明确指定去 'svg' 文件夹
                ext: '.svg' // 指定文件扩展名
            });
        });
    </script>
    </body>
</html>
