
// Tag



#taxonomy-list {
  display: flex;
  flex-wrap: wrap; /* 允许换行 */
  gap: 0px; /* 标签之间的间隙 */
  justify-content: flex-start; /* 从左侧开始排列 */
}

#taxonomy-list .tags {
  padding: 5px;
  border-radius: 5px;
  display: inline-block; /* 保证每个标签内联显示 */
  margin: 0; /* 给标签上下增加些间隔 */
}

#taxonomy-list .tags span {
  display: inline-block;
  margin-right: 5px; /* 标签之间的间隙 */
  margin-bottom: 5px; /* 标签下方间隔 */
}

#taxonomy-list .tags .tag {
  border: solid 1px var(--color-bg-code);
  background: var(--term-btn-bg);
  border-radius: 5px;
  padding: 5px 10px;
}
.taxonomy-content p, .taxonomy-content ul li {
  margin-bottom: 15px;
}
.taxonomy-content li p strong {
  color: var(--color-mark);
}

#term-list ul li span {
  margin-right: 10px;
}
#term .header-container {
  padding: 0em 0;
}
@media screen and (max-width: 600px) { 
   #term .header-container {
    padding: 0em 0; 
}

}

.tags a:hover {
  background: none;
}

.tag {
  /* 初始样式 - 可以选择无阴影或非常轻微的阴影 */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 初始无阴影 */
  /* 或者，如果你希望默认有一点点轻微的阴影，可以这样：
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  */
  transition: box-shadow 0.5s ease; /* 只为阴影添加过渡动画 */
}
.tags a {
  color: var(--talk-bubble-border-text-color);
  font-size: 90%;
}
.tag:hover {
  /* 悬停时的样式 - 弥散且无偏移的阴影 */
  box-shadow: 0 0 15px var(--mark); /* 水平偏移 0，垂直偏移 0，模糊半径 15px，扩散半径 0，颜色透明度 0.3 */
  /* 你可以根据喜好调整模糊半径（第三个值 15px）和透明度（rgba 中的 0.3）来控制弥散程度 */
}