//new
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont,"Hiragino Sans GB", "PingFang SC",   Tahoma, Verdana,
    "Segoe UI",  "Helvetica Neue", 
    "Microsoft YaHei", "Source Han Sans SC VF", 
    "Noto Sans CJK SC", sans-serif;
    font-weight: normal;
    letter-spacing: 0.5px;
}
h1,h2,h3,h4,h5,h6 {
  font-family:  "Huiwen-mincho",'STDongGuanTi',"Huiwen-mincho", sans-serif;
  margin-bottom: 0;
}

#header-post #nav a {
  font-family: "Huiwen-mincho", sans-serif;
  font-weight: bold;

}
article time {
  font-size: 90%;
  font-weight: normal;
}
.site-footer {
  font-family: "Noto Sans CJK SC", sans-serif;
  font-size: 85%;
  letter-spacing: 0.7px;
}
#special-h1 {
  font-family: 'YEFONTXiaoShiTou';
}
* {
  cursor: url('/cursor.png'), auto;
}
a:hover {
  cursor: url('/cursor.png'), pointer;
}
#menutable td, #menutable th {
  font-family: 'STDongGuanTi',"Noto Sans CJK SC" !important;
}
code {
    font-family: 
        ui-monospace, /* macOS/iOS/Newer Windows UI Mono */
        "Cascadia Mono", 
        Menlo, 
        Consolas, /* Windows 经典等宽字体 */
        "Courier New", 
        monospace; /* 最终回退 */
}
.last-edit-time {
  font-size: 90%;
  font-family: Courier New, "Noto Sans CJK SC", cursive;
  font-weight: bold;
}

.Courier {
  font-family: Courier New, "Noto Sans CJK SC", cursive;
}

.db-card-title {
  font-family: 'STDongGuanTi', "Huiwen-mincho", sans-serif;
}

.note__day {
  padding: 5px;
  font: 90% "Huiwen-mincho", cursive;
  //border-bottom: 2px solid #111;
}

#search a {
  font-weight: bold;
  font-family: 'STDongGuanTi',"Huiwen-mincho", sans-serif;
}
