//new

body {
  font-family: "Noto Sans CJK SC", "Source Han Sans SC VF",  sans-serif;
  font-weight: normal;
  letter-spacing: 0.5px;
}
h1,h2,h3,h4,h5,h6 {
  font-family:  "Huiwen-mincho",'STDongGuanTi',"Huiwen-mincho", sans-serif;
  margin-bottom: 0;
}

#header-post #nav a {
  font-family: "Huiwen-mincho", sans-serif;
  font-weight: bold;

}
article time {
  font-size: 90%;
  font-weight: normal;
}
.site-footer {
  font-family: "Noto Sans CJK SC", sans-serif;
  font-size: 85%;
  letter-spacing: 0.7px;
}
#special-h1 {
  font-family: 'YEFONTXiaoShiTou';
}
* {
  cursor: url('/cursor.png'), auto;
}
a:hover {
  cursor: url('/cursor.png'), pointer;
}
#menutable td, #menutable th {
  font-family: 'STDongGuanTi',"Noto Sans CJK SC" !important;
}
code {
  font-family: ui-monospace, // San Francisco Mono on macOS and iOS
  "Cascadia Mono", "Segoe UI Mono", // Newer Windows monospace fonts that
    // are optionally installed. Most likely
    // to be rendered in Consolas
  "Liberation Mono", // Recently updated
  Menlo, Monaco, Consolas, // A few sensible system font choices
  monospace // The final fallback for rendering in monospace.;
}
.last-edit-time {
  font-size: 90%;
  font-family: Courier New, "Noto Sans CJK SC", cursive;
  font-weight: bold;
}

.Courier {
  font-family: Courier New, "Noto Sans CJK SC", cursive;
}

.db-card-title {
  font-family: 'STDongGuanTi', "Huiwen-mincho", sans-serif;
}

.note__day {
  padding: 5px;
  font: 90% "Huiwen-mincho", cursive;
  //border-bottom: 2px solid #111;
}

#search a {
  font-weight: bold;
  font-family: 'STDongGuanTi',"Huiwen-mincho", sans-serif;
}
