
        .single-nav {
            color: #e47d4d;
            text-align: center;
            /* text-shadow: 0px 0px 4px #fff20089; */
            font-size: 95%;
        }
        .title-img p,.title-img h1, .title-img span {
            color: #f9f2f2!important;
            text-shadow: 0px 0px 4px #0c2235;
        }
        .title-img h1 {
            padding: 0 10px;
            // margin: 0;
        }
        :root {
            --bg: #ffffff3e;
            --bd: #e2b9b939;
            --ft: #e3d9d935;
        }
        [a="dark"] {
            --bg: #00000051;
            --bd: #231c4eb8;
            --ft: #38050535;

        }
        .w {
            max-width: 640px;
        }
        .archive {
            border-radius: 10px;
            border: 1px solid var(--bd);
            padding: 20px 0;
            margin: 10px 30px;
            /* background-color: var(--bg); */
            backdrop-filter: blur(2px);

        }
        .postslist {
            padding: 0px 20px;
        }
        .postslist ul li:before {
            content: "";
            font-weight: bold;
            margin-right: 3px;
        }
        .table-content {
            padding: 0 15px;
        }
        .title-img {
            height: var(--title-bg-height);
            /* background-size: 100%; */
            /* background-position: 90%; */
            padding: 0;
            box-sizing: border-box;
            margin-top: .5em;
            position: relative; /* 允许伪元素相对于它定位 */
            overflow: hidden; 
            mask-image: linear-gradient(to bottom,
                                        transparent 0%,
                                        black 15%,
                                        black 85%,
                                        transparent 100%);
            -webkit-mask-image: linear-gradient(to bottom,
                                                transparent 0%,
                                                black 15%,
                                                black 85%,
                                                transparent 100%);
        }

        .title-img::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: var(--title-bg-image);
            background-size: 100% auto!important; /* 宽度100%，高度自动缩放 */
            background-position: center; /* <-- 确保图片的中心点对齐到容器的中心点 */
            z-index: -1; 
            filter: brightness(1.25) contrast(0.55) grayscale(0.08) hue-rotate(0deg) sepia(0.2) url(#dither);
        }

        [a="dark"] .title-img::before {
            filter: brightness(0.35) contrast(1.0) grayscale(0.41) hue-rotate(0deg) sepia(0.15) url(#dither);
        }

        li {
            padding: 0 0rem;
        }
    @media (max-width: 768px) {
            .archive {
                margin: 10px 0px;
                padding: 20px 0;

            }
        }