
.alt-text {
  color: var(--secondary-text-color);
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-overlay.active {
  display: flex;
}

.image-overlay img {
  max-width: 80%;
  max-height: 80%;
}

#post-content p:has(> img.post-image:nth-child(2)) {
  column-count: 2;
  column-gap: 8px;
  margin: 6px 0;
}
#post-content p:has(> img.post-image:nth-child(3)) { column-count: 3; }
#post-content p:has(> img.post-image:nth-child(4)) { column-count: 4; }
#post-content p:has(> img.post-image:nth-child(5)) { column-count: 5; }
#post-content p:has(> img.post-image:nth-child(6)) { column-count: 4; }

#post-content p:has(> img.post-image:nth-child(2)) img { display: inherit; }
#post-content p:has(> img.post-image:nth-child(6)) img { margin-bottom: 8px; }


