.theme-toggle {
  position: fixed;
  top: 20px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 10px;
  cursor: pointer;
  z-index: 1000;
}

#light-btn, #dark-btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#light-btn {
  background-color: #F8F4E1;
  border: 2px solid #38383c;
}

#dark-btn {
  background-color: #605151;
  display: none;
  border: 2px solid #F8F4E1;
}

body.dark-mode #light-btn {
  display: none;
}

body.dark-mode #dark-btn {
  display: block;
}

#light-btn:hover, #dark-btn:hover {
  background-color: #ecd0af;
  border-color: #594c4c;
}

body.dark-mode #dark-btn:hover {
  background-color: #5a5a5a;
  border-color: #f1f1f1;
}