{{ $category := .Get 0 }}
{{ $type := .Get 1 }}
{{ $count := .Get 2 }}

{{ if not $count }}
  {{ $count = 20 }}
{{ end }}

{{ $apiUrl := "https://neodb.social/api/me/shelf/" }}
{{ $authToken := "7NU3AsTwDZb3TM7FmsQCoLSS8L3KQHhVQ7VUfx2LgGA-11HpGGrSAiCc_g" }}

{{ $dbApiUrl := printf "%s%s?category=%s" $apiUrl $type $category }}
{{ $opts := dict "headers" (dict "Authorization" (print "Bearer " $authToken)) }}

{{ $dbFetch := "" }}

{{ with try (resources.GetRemote $dbApiUrl $opts) }}
  {{ $dbFetch = .Value | transform.Unmarshal }}
{{ else with .Err }}
  {{ errorf "%s" . }}
{{ end }}

<div class="neodb-gallery-wrapper">
  {{ with $dbFetch.data }}
    {{ range $index, $record := first (int $count) . }}
      {{ $item := $record.item }}
      <div class="db-card">
        <div class="db-card-subject">
          <div class="db-card-post">
            <img src="{{ $item.cover_image_url }}" alt="Cover Image" style="max-width: 100%; height: auto" />
          </div>
          <div class="db-card-content">
            <div class="db-card-title">
              <a href="{{ $item.url }}" class="cute" target="_blank" rel="noreferrer">{{ $item.title }}</a>
            </div>
            <div class="db-card-rating">
              {{ $record.created_time | time.Format "2006-01-02T15:04:05Z" | time.Format "2006 年 01 月 02 日" }}
              
              {{ $shelfType := $record.shelf_type }}
              {{ $category := $item.category }}
              {{ $action := "" }}
              {{ $prefix := "" }}
              {{ $suffix := "" }}
              
              {{ if eq $category "book" }}
                {{ $action = "读" }}
              {{ else if or (eq $category "tv") (eq $category "movie") (eq $category "performance") }}
                {{ $action = "看" }}
              {{ else if or (eq $category "podcast") (eq $category "album") }}
                {{ $action = "听" }}
              {{ else if eq $category "game" }}
                {{ $action = "玩" }}
              {{ end }}
              
              {{ if eq $shelfType "wishlist" }}
                {{ $prefix = "想" }}
              {{ else if eq $shelfType "complete" }}
                {{ $suffix = "过" }}
              {{ else if eq $shelfType "progress" }}
                {{ $prefix = "在" }}
              {{ else if eq $shelfType "dropped" }}
                {{ $prefix = "不" }}
                {{ $suffix = "了" }}
              {{ end }}
              
              {{ print $prefix $action $suffix }}
            </div>
            <div class="db-card-comment">
              {{ if $record.comment_text }}
                {{ $comment := $record.comment_text }}
                {{ $comment = replaceRE `>!(?s)(.*?)!<` (print "<span class=\"blur\">$1</span>") $comment }}
                {{ $comment = replaceRE `\n` `<br>` $comment }}
                <p>{{ $comment | markdownify }}</p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  {{ else }}
    <p>No data found.</p>
  {{ end }}
</div>



<style>
  .db-card-comment {
    margin: 10px 4px;
    max-height: 250px;
    scrollbar-gutter: stable both-edges;
}
</style>