//new

@import url('https://static.zeoseven.com/zsft/256/main/result.css');
@import url('https://static.zeoseven.com/zsft/7/main/result.css');
@import url('https://static.zeoseven.com/zsft/79/main/result.css');

body {
  font-family: "Clear Han Serif";
  font-weight: normal;
}

/* Define the colors */
$color-black: #111;
$color-red: #cc4b48;
$color-red2: #e4572e;
$color-vermilion: #f4442e;
$color-vermilion2: #d05b58;
$color-pink: #efb8ba;
$color-pink2: #e79598;
$color-pink3: #db6165;
$color-mark: #b2d8d8;
$color-blockquote: #466060;
$link-hover: #FFD09B;


// -------------- THEME SWITCHER -------------- //
@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--visited-link-color, $--highlight) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    color: $--link-color;
    &:visited { color: $--link-color; }
  }

  details {
    //border-left: 2px solid $--primary-text-color;
  }

  details summary {
    color: $--primary-text-color;
  }

  details[open] summary {
    border-bottom: 1px solid $--primary-text-color;
  }

  pre {
    background: $--bg-color;
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  *:target {
    background: $--highlight;
    color: $--primary-text-color;
   }

  table, th, td {
    border: thin solid $--primary-text-color;
  }

  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  figcaption { color: $--secondary-text-color; }

  blockquote {
    border-left: 2px solid $color-blockquote;
    color: $--secondary-text-color;
  }
}

@mixin dark-appearance {
  @include theme(#212121, #fafafa, #000000, #0071bc, #a359e9, #FFFF00);
}

@mixin light-appearance {
  @include theme(#f9f7f1, #212121, #666666, #1a89ae, #921292, #FFFF00);
}

body[a="dark"] { @include dark-appearance; }
body[a="light"] { @include light-appearance; }

@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { @include light-appearance; }
}

// -------------------------------------------- //

html { height: 100%; }

body {
  //font-family: monospace;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

body {
  //font-family: "Huiwen-mincho";
  font-weight: normal;
  background-image: linear-gradient(#e4e4e4 1px, transparent 1px),
  linear-gradient(90deg, #e4e4e4 1px, transparent 1px);
  background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}


.note__item {
  margin-top: 20px;
  width: 95%;
  border: 2px solid #111;
  position: relative;
  box-shadow: 4px 4px 0 0 rgba(212, 91, 88, 0.5); /* 可根据需要调整颜色 */
  margin-bottom: 15px;
}

.note__day {
  padding: 5px 5px 2px;
  font: 90% "Huiwen-mincho", cursive;
  border-bottom: 2px solid #111;
}

.note__list {
  padding: 8px 12px;
  line-height: 1.2;
  font-size: 90%;
}

//

mark {
  background: none; /* 移除默认的黄色背景 */
  background-image: linear-gradient(
                  transparent calc(100% - 0.5em),
                  $color-mark 0.5em
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: inherit; /* 文字颜色继承父元素 */
  padding: 0 2px;
}





//

h1 {font-family: "Huiwen-mincho";
  margin-bottom: 0px;
}

article time {
  font-family: "Huiwen-mincho";
  font-weight: normal;
}

.page-content h1 {
  font-size: 200%;
}

h2, h3, h4, h5, h6 { margin-top: 1.5rem; }

p { margin: 1rem 0;
padding: 0.1rem 0;
}

li { margin: 0.4rem 0; }

a {
  text-decoration: none;
  &:hover {
    text-shadow: $link-hover 1px 0 10px;
  }
}

pre {
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table { width: 100%; }

table, th, td {
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  padding: 1rem;
  p {
    margin: 10px 5px;

  }
}

img {
  max-width: 100%;
  height: auto;
  margin: 0.5rem 0;
  vertical-align: middle; /* 图片居中 */
  border-radius: 10px;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

blockquote, details {
  padding: 0.5rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;

}

details summary {
  text-decoration: none;
}

details[open] summary {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w {
  max-width: 740px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.toc {
  padding: 1rem;
}

.site-footer {
  display: flex;
  justify-content: center; /* 将内容水平居中 */
  align-items: center;    /* 将内容垂直居中 */
  text-align: center;     /* 确保文本在子元素内居中 */
}

.posts-list-ul span {margin-right: 15px}


//

img.float-img35 {
  float: left;
  width: 30%;
  margin-right: 1em !important; /* 强制覆盖 */
  margin-bottom: 0em !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  border-radius: 8px; /* 可选：让图片的边角稍微圆润 */
}

article img.float-img50 {
  float: left;
  width: 50%;
  margin-right: 1em !important; /* 强制覆盖 */
  margin-bottom: 0.5em !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  border-radius: 8px; /* 可选：让图片的边角稍微圆润 */
}

//

/* 页面整体容器，使用 flexbox 布局 */
.main-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* 内容与菜单之间的间距 */
}

/* 内容部分 */
.content {
  flex: 1; /* 内容部分占据剩余空间 */
}

/* 菜单部分，固定右侧 */
.menu-float {
  flex: 0 0 50%; /* 菜单部分占据 50% 宽度 */
  box-sizing: border-box;
}

/* 手机端适配：布局变为单列 */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column; /* 改为垂直排列 */
  }

  .menu-float {
    width: 100%; /* 菜单占满宽度 */
    box-shadow: none; /* 去掉阴影 */
  }
}


@media (prefers-color-scheme: light) {
  body[a="light"] *:target {
    background: transparent;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 2px;
  }
}

article hr {
  width: 33%;
  margin: 1.5em auto 1.5em auto;
}

article ol {
  padding-left: 22px;
}

@media only screen and (max-width: 1224px) {
  .post-toc {
    display: none;
  }
}

ul {
  list-style-type: none; /* 取消圆点 */
  margin: 0; /* 可选：移除默认外边距 */
  padding: 0; /* 可选：移除默认内边距 */
}

li {
  padding: 0 0.5rem; /* 可选：调整列表项的间距 */
}

ul li:before {
  color: #000;
  content: "·";
  font-weight: bold;
  margin-right: 3px;
}

.pre-next {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.mumble {
  max-height: 250px;  /* 设置最大高度 */
  overflow-y: auto;   /* 超过最大高度时启用垂直滚动 */
}


.statuscafe-username {
  margin-left: 0.5em;
  margin-bottom: .5em;
  color: var(--text);
  // text-shadow:  var(--linkhover) 1px 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.statuscafe-content {
  margin: 0 1em 0.5em 1em;
}

.statuscafe-entry {
  border: 1px solid ; /* 每条状态有独立边框 */
  // border-radius: 5px; /* 边框圆角效果，可选 */
  padding: 5px; /* 状态内容内部间距 */
  margin-bottom: 10px; /* 状态间距 */
  // background-color: white; /* 每条状态背景为白色，与整体背景区分 */
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加轻微阴影提升视觉效果 */
}

/* photo frame style */

.polaroid-frame {
  position: relative;
  display: inline-block;
  width: fit-content;
  max-width: 360px;
  padding: 10px 10px 0;
  background-color: #f1f1f1;
  //box-shadow: 0 1px 5px grey;
  //border-radius: 4px;
  //border: 2px solid $color-mark;
  border-bottom: 10px solid #f1f1f1;
  border-bottom-left-radius: 10px; /* Adjust the border radius as needed */
  border-bottom-right-radius: 10px; /* Adjust the border radius as needed */
}

.polaroid-image img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border: 0.5px solid black;
}



.polaroid-caption {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  padding-top: 5px;
  font-size: 12px;
}


