{{ if site.Params.theme_config.isShowFooter }}
    {{ with resources.Get "layouts/footer.md" }}
        {{ .Content | markdownify }}
    {{ else }}
        {{ warnf "layouts/footer.md file is not found, fallback to the default copyright" }}
        <footer class="site-footer">
            <p><a href="/" style="text-decoration:none; color: inherit;">© 2021 - {{ now.Format "2006" }} | {{ site.Title }}</a></p>
        </footer>
    {{ end }}
{{ end }}


<script>
    ;(function () {
        const CboxUrl = "https://www3.cbox.ws/box/?boxid=3522873&boxtag=LBkamX"
        const Wording1 = "向我提问！"
        const Wording2 = "看到就会回复 :D"
        const TagTextColor = "#f9f7f1"
        const TagBgColor = "#e69494"
        const BodyBgColor = "white"

        const $container = document.createElement("div")
        const $button = document.createElement("div")

        $button.innerText = Wording1
        document.body.append($button)

        $container.innerHTML += `
    <iframe src="${CboxUrl}" width="100%" height="380" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
  `
        let isOpen = false
        let isFirst = true
        $button.onclick = () => {
            if (isFirst) {
                isFirst = false
                document.body.append($container)
            }
            if (!isOpen) {
                useStyle($container, {
                    top: "unset",
                    bottom: "0px",
                    visibility: "visible"
                })
                useStyle($button, {
                    bottom: "400px"
                })
                $button.innerText = Wording2
            } else {
                useStyle($container, {
                    top: "100%",
                    bottom: "unset",
                    visibility: "hidden"
                })
                useStyle($button, {
                    bottom: "0px"
                })
                $button.innerText = Wording1
            }
            isOpen = !isOpen
        }
        useStyle($button, {
            position: "fixed",
            bottom: "0px",
            right: "0px",
            background: TagBgColor,
            color: TagTextColor,
            "font-size": "14px",
            "border-top-left-radius": "10px",
            padding: "5px 10px",
            cursor: "pointer"
        })
        useStyle($container, {
            position: "fixed",
            top: "100%",
            right: "0px",
            width: "300px",
            height: "400px",
            background: BodyBgColor
        })

        function useStyle (dom, style) {
            for (let sKey in style) {
                dom.style[sKey] = style[sKey]
            }
        }
    })()
</script>