{{ define "main" }}
    <header>
        <h1><img src="/cat/tuxicon2.gif">{{ $.Site.Title }}</h1>
        {{- if $.Site.Params.theme_config.show_description -}}
            <p>{{ $.Site.Params.description }}</p>
        {{- end -}}
    </header>

    <div class="main-container" >
        <div class="note">
            <div class="note__item">
                <div class="note__day">Welcome</div>
                <div class="note__list">
                        {{ .Content }}
                </div>
            </div>
        </div>

        <div class="menu-float">
            {{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
        </div>
    </div>


    </div>



{{ end }}
