{{ define "main" }}
    <header>
        <h1><img src="/cat/tuxicon2.gif">{{ $.Site.Title }}</h1>
        {{- if $.Site.Params.theme_config.show_description -}}
            <p>{{ $.Site.Params.description }}</p>
        {{- end -}}
    </header>

    <div class="main-container">
        <div class="note">
            <div class="note__item">
                <div class="note__day">Welcome</div>
                <div class="note__list">
                        {{ .Content }}
                </div>
            </div>
        </div>

        <div class="menu-float">
            {{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
        </div>
    </div>
{{/*    <div class="main-container">*/}}
{{/*        <div style="height: 100%; display: flex; justify-content: center; align-items: center;">*/}}
{{/*            <div style="height: 50%; max-width: 80%; align-items: center;">*/}}
{{/*                <div class="polaroid-frame">*/}}
{{/*                    <div class="polaroid-image">*/}}
{{/*                        <img src="https://luna-gregueria.vercel.app/posts/album/1653042992560.jpg">*/}}
{{/*                    </div>*/}}
{{/*                    <div class="polaroid-caption">*/}}
{{/*                      宝宝的小卡，见者有份*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
{{/**/}}
{{/*        <div class="note menu-float">*/}}
{{/*            <div class="note__item">*/}}
{{/*                <div class="note__day">碎碎念啦，唔使理我</div>*/}}
{{/*                <div class="note__list">*/}}
{{/*                    <details class="mumble">*/}}
{{/*                        <summary>Mumble...</summary>*/}}
{{/*                        <div id="feed-reader" ></div>*/}}
{{/*                        <script>*/}}
{{/*                            const feedURL = 'https://status.cafe/users/lyin.atom';*/}}
{{/**/}}
{{/*                            function timeAgo(publishedDate) {*/}}
{{/*                                const now = new Date();*/}}
{{/*                                const published = new Date(publishedDate);*/}}
{{/*                                const diff = now - published; // 差值以毫秒为单位*/}}
{{/**/}}
{{/*                                const seconds = Math.floor(diff / 1000);*/}}
{{/*                                const minutes = Math.floor(seconds / 60);*/}}
{{/*                                const hours = Math.floor(minutes / 60);*/}}
{{/*                                const days = Math.floor(hours / 24);*/}}
{{/**/}}
{{/*                                if (days > 0) {*/}}
{{/*                                    return `${days} day${days > 1 ? 's' : ''} ago`;*/}}
{{/*                                } else if (hours > 0) {*/}}
{{/*                                    return `${hours} hour${hours > 1 ? 's' : ''} ago`;*/}}
{{/*                                } else if (minutes > 0) {*/}}
{{/*                                    return `${minutes} minute${minutes > 1 ? 's' : ''} ago`;*/}}
{{/*                                } else {*/}}
{{/*                                    return `${seconds} second${seconds > 1 ? 's' : ''} ago`;*/}}
{{/*                                }*/}}
{{/*                            }*/}}
{{/**/}}
{{/*                            fetch(feedURL)*/}}
{{/*                                .then(response => response.text())*/}}
{{/*                                .then(str => new window.DOMParser().parseFromString(str, "text/xml"))*/}}
{{/*                                .then(data => {*/}}
{{/*                                    const entries = data.querySelectorAll("entry");*/}}
{{/*                                    let html = ``;*/}}
{{/*                                    entries.forEach(el => {*/}}
{{/*                                        let title = el.querySelector("title").innerHTML.slice(0, 7).trim();*/}}
{{/*                                        let content = el.querySelector("content").textContent.trim();*/}}
{{/*                                        let publishedDate = el.querySelector("published").innerHTML;*/}}
{{/*                                        let relativeTime = timeAgo(publishedDate);*/}}
{{/**/}}
{{/*                                        html += `*/}}
{{/*          <div class="statuscafe-entry">*/}}
{{/*            <p class="statuscafe-username">${title} - ${relativeTime}</p>*/}}
{{/*            <p class="statuscafe-content">${content}</p>*/}}
{{/*          </div>*/}}
{{/*        `;*/}}
{{/*                                    });*/}}
{{/*                                    document.getElementById("feed-reader").innerHTML = html;*/}}
{{/*                                });*/}}
{{/*                        </script>*/}}
{{/*                    </details>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
{{/*        </div>*/}}
    </div>



{{ end }}
