<div id="tools">
  {{ range $index, $item := .Site.Menus.main }}
  <div class="tools-item">
    {{ if eq $index 0 }}<span class="toggle-icon"></span>{{ end }}<a href="{{ .URL }}" >✦ {{ .Name }} ✦</a>
  </div>
  {{ end }}
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const toolsNav = document.getElementById('tools');
    if (!toolsNav) return;

    const isMobile = window.matchMedia("(max-width: 768px)").matches;

    if (isMobile) {
      const toggleIcon = toolsNav.querySelector('.toggle-icon');

      if (toggleIcon) {
        toggleIcon.addEventListener('click', function(event) {
          event.stopPropagation();
          toolsNav.classList.toggle('open');
        });
      }

      document.addEventListener('click', function(event) {
        if (!toolsNav.contains(event.target) && toolsNav.classList.contains('open')) {
          toolsNav.classList.remove('open');
        }
      });
    }
  });
</script>
