{{ define "main" }}
{{ $aboutNav := resources.Get "css/_about-nav.scss" | toCSS }}
<link rel="stylesheet" href="{{ $aboutNav.RelPermalink }}">

<header>
    <div class="header-container">
        <div class="header-inner">
            <div class="header-left">
                <img src="/cat/tumblrcat.png" alt="Icon" class="header-img">
                {{ partial "nav_index" . }}
            </div>
            <div class="header-content">
                {{ .Content }}
            </div>
        </div>
    </div>
</header>


<hr class="decoration-hr">
{{ partial "footer.html" . }}
{{ end }}
