<div class="goods">
    {{ range .Site.Data.goods.goods }}
        <div class="goods-bankuai">
            <div class="goods-duiqi">
                <img loading="lazy" decoding="async" src="{{ .image }}" />
            </div>
{{/*            <div class="goods-jiage">{{ .price }}</div>*/}}
            <div class="goods-title">
                <div style="text-align: center;">
                <span>{{ .title }}</span>
                </div>
            </div>
            <div class="goods-note">{{ .description }}</div>
        </div>
    {{ else }}
        <p>没有商品数据</p>
    {{ end }}
</div>


<style>
    :root {
        --code-bg: rgba(241, 235, 215, 0.51);
    }
    .dark {
        --code-bg: #3b3d42;
    }
    .goods-bankuai {
        display: inline-block;
        vertical-align: top;
        width: calc(33.33% - 16px);
        height: 326px;
        margin: 0 8px 12px 0;
        list-style: none;
        border-radius: 8px;
        background: var(--code-bg);
        padding: 10px 0px;
        overflow: hidden;
    }

    .goods-duiqi {
        min-height: 164px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .goods-duiqi img {
        width: 100%;
        margin: 0;
        transition: transform 0.2s ease-in-out;
    }

    .goods-duiqi:hover img {
        transform: translateY(-4px);
    }

    .goods-title {
        font-size: 14px;
        margin: 0;
        padding: 5px 5px 0px 5px;
        transition: 0.5s;
        align-items: center;
        line-height: 1.2rem;
    }

    .goods-title span {
        font-size: 16px;
        color: rgba(30, 14, 14, 0.62);
        text-decoration: none;
        align-items: center;

    }

    .goods-jiage {
        padding: 5px 5px 5px 10px;
        color: #999;
        font-size: 14px;
        line-height: 1.4rem;
    }

    .goods-note {
        color: #999;
        font-size: 14px;
        line-height: 1.3rem;
        padding: 0px 10px;
    }

    @media (max-width: 700px) {
        .goods-bankuai {
            width: 100%;
            height: 100%;
            padding: 0 2% 5% 2%;
        }

        .goods-title {
            font-size: 14px;
            margin: 0 10px !important;
            transition: 0.5s;
        }

        .goods-jiage {
            margin: 0 10px 0 10px;
        }

        .goods-duiqi img {
            width: 50%;
            margin: 0;
        }

        .goods-note {
            line-height: 1.3rem;
            margin: 8px 10px 0 10px;
        }

        .goods-title {
            font-size: 14px;
            margin: 0 auto;
            line-height: 1.5rem;
        }

        .goods-title a {
            font-size: 14px;
            text-decoration: none;
            box-shadow: none;
        }
    }

    @media screen and (min-width: 700px) and (max-width: 900px) {
        .goods-quanju {
            font-size: 0;
            width: 106%;
        }

        .goods-bankuai {
            display: inline-block;
            vertical-align: top;
            width: 40%;
            margin-right: 15px;
            height: 420px;
        }

        .goods-title {
            font-size: 14px;
            margin: 0 auto;
            line-height: 1.2rem;
            transition: 0.5s;
        }

        .goods-title a {
            font-size: 14px;
            text-decoration: none;
            box-shadow: none;
        }
    }

    @media (min-width: 900px) {
        .goods-quanju {
            font-size: 0;
            width: 106%;
        }

        .goods-bankuai {
            display: inline-block;
            vertical-align: top;
            width: calc(33.33% - 16px);
            height: 312px;
            margin: 0 8px 12px 0;
        }

        .goods-note {
            font-size: 14px;
            line-height: 1.3rem;
            margin-top: 0.5rem;
        }

        .goods-duiqi img {
            width: 80%;
            margin: 0;
        }

        .goods-bankuai.img-hide img {
            transition: transform 0.2s ease-in-out;
            cursor: pointer;
        }

        .goods-bankuai.img-hide:hover img {
            transform: translateY(-4px);
        }

        .goods-title {
            font-size: 16px;
            margin: 0 auto;
            line-height: 1.3rem;
            transition: 0.5s;
        }
    }
</style>
