<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
<head>
    <link href="https://478.neocities.org/catalog/fonts.css" rel="stylesheet">
    {{ $scss := resources.Get "css/_fanpage.scss" }}
    {{ $style := $scss | css.Sass (dict "targetPath" "css/fanpage-style.css") }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}" id="page-top">
    <section class="layout">

        <div class="leftSide"></div>
        
        <div class="body">
            {{- block "main" . }}{{- end }}
        </div>
        <div class="rightSide"></div>
    
    </section>

    {{ $twemojiJS := resources.Get "js/twemoji.min.js" }}
    {{ $viewImageJS := resources.Get "js/view-image.min.js" }}
    
    <script src="{{ $twemojiJS.RelPermalink }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            twemoji.parse(document.body, {
                base: '{{ "/my-emojis/" | relURL }}', 
                folder: 'svg', 
                ext: '.svg' 
            });
        });
    </script>
    <script src="{{ $viewImageJS.RelPermalink }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 同时对 class="pic" 的图片 和 .half-width-centered 容器内的图片启用放大功能
            window.ViewImage.init("img.pic, .half-width-centered img"); 
        });
    </script>
    
    {{- if .Params.custom_js -}}
        {{- range .Params.custom_js -}}
            {{ $js := resources.Get (print "js/" . ".js") }}
            <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
        {{- end -}}
    {{- end -}}
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // 检查 ViewImage 对象是否可用
        if (window.ViewImage) {
            // 针对 fanpage 页面中的 .star-photo 图片进行初始化。
            // 仅对具有 star-photo 类的 img 标签应用 ViewImage
            const imageSelector = '.star-photo:not([no-view]):not(.emoji):not(#emoji)';
            const starPhotos = document.querySelectorAll(imageSelector);

            if (starPhotos.length > 0) {
                // 如果页面上有 star-photo 图片，则初始化 ViewImage
                ViewImage.init(imageSelector);
            } else {
                // 如果没有找到 star-photo 图片，可以选择性地记录一条信息
                console.log("No .star-photo images found. ViewImage initialization skipped.");
            }
        } else {
            // 如果 ViewImage 对象未找到，则发出警告
            console.warn("ViewImage object not found. Is view-image.min.js loaded correctly?");
        }
    });
</script>
</html>